.wrapper {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--color-purple-4);
  box-shadow: var(--shadow-default);
  position: relative;
  cursor: pointer;
  transition: var(--transition);

  &.opened {
    transform: rotate(180deg);
  }
}
.stick {
  width: 17px;
  height: 2px;
  background-color: var(--color-purple-2);
  border-radius: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center right;
  &:nth-child(1) {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &:nth-child(2) {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
