.button {
  width: 260px;
  height: 60px;
  border: none;
  background-color: var(--color-blue-2);
  border-radius: 7px;
  font-family: 'Fustat', 'sans-serif';
  color: white;
  font-size: 28px;
  cursor: pointer;
}
