.wrapper {
  display: flex;
  font-family: 'Fira Code', 'sans-serif';
}
.index {
  color: var(--color-disabled);
  font-size: 18px;
  margin-right: 10px;
}
.content {
  white-space: pre;
  color: var(--color-purple-2);
}
