.wrapper {
  display: flex;
  font-family: 'Fira Code', 'sans-serif';
}
.index {
  flex-shrink: 0;
  color: var(--color-disabled);
  font-size: 18px;
  margin-right: 10px;
  text-align: right;
}
.content {
  width: auto;
  white-space: pre;
  color: var(--color-purple-2);
}
